

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SuenosServlet</servlet-name>
  	<display-name>SuenosServlet</display-name>
  	<description></description>
  	<servlet-class>com.htv.controlador.SuenosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>usuarioServlet</servlet-name>
  	<display-name>usuarioServlet</display-name>
  	<description></description>
  	<servlet-class>com.htv.controlador.usuarioServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsuariosServlet</servlet-name>
  	<display-name>UsuariosServlet</display-name>
  	<description></description>
  	<servlet-class>com.htv.controlador.UsuariosServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditarServlet</servlet-name>
  	<display-name>EditarServlet</display-name>
  	<description></description>
  	<servlet-class>com.htv.controlador.EditarServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>borrandoSuenoServelet</servlet-name>
  	<display-name>borrandoSuenoServelet</display-name>
  	<description></description>
  	<servlet-class>com.htv.controlador.borrandoSuenoServelet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>nuevoServlet</servlet-name>
  	<display-name>nuevoServlet</display-name>
  	<description></description>
  	<servlet-class>com.htv.controlador.nuevoServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>prueEMServlet</display-name>
  	<servlet-name>prueEMServlet</servlet-name>
  	<servlet-class>com.htv.controlador.prueEMServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RegistroServlet</display-name>
  	<servlet-name>RegistroServlet</servlet-name>
  	<servlet-class>com.htv.controlador.RegistroServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LogoutServlet</display-name>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>com.htv.controlador.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LoginServlet</display-name>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.htv.controlador.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UsuarioServlet</display-name>
  	<servlet-name>UsuarioServlet</servlet-name>
  	<servlet-class>com.htv.controlador.UsuarioServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>borrarUsuario</display-name>
  	<servlet-name>borrarUsuario</servlet-name>
  	<servlet-class>com.htv.controlador.borrarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SuenosServlet</servlet-name>
  	<url-pattern>/SuenosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>usuarioServlet</servlet-name>
  	<url-pattern>/usuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsuariosServlet</servlet-name>
  	<url-pattern>/UsuariosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditarServlet</servlet-name>
  	<url-pattern>/EditarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>borrandoSuenoServelet</servlet-name>
  	<url-pattern>/borrandoSuenoServelet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>nuevoServlet</servlet-name>
  	<url-pattern>/nuevoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>prueEMServlet</servlet-name>
  	<url-pattern>/prueEMServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistroServlet</servlet-name>
  	<url-pattern>/RegistroServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsuarioServlet</servlet-name>
  	<url-pattern>/UsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>borrarUsuario</servlet-name>
  	<url-pattern>/borrarUsuario</url-pattern>
  </servlet-mapping>
</web-app>
